<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </form>
      <div>
        <input placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dateFrom" ngbDatepicker
               #datePickerFrom="ngbDatepicker" style="width: 100px">
        <span class="glyphicon glyphicon-search" (click)="datePickerFrom.toggle()">K</span>
      </div>
    </div>
  </div>
  </div>
</head>
<body>

</body>
</html>
