<header> <img id="imgHeader" src="banner.png" alt="medical banner"/></header>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!navCollapsed"
          [class.collapsed]="navCollapsed"
          (click)="toggleNavigation()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="images/pharmacy-logo.png" height="40"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="!navCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/patient-mgmt/patients">Patients</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/doctor-mgmt/doctors">Doctors</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/patient-mgmt/patient">Add a Patient</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/doctor-mgmt/doctor">Add a Doctor</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/visit-mgmt/register">Register a Visit</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
