<!--<h1>Login</h1>-->
  <!--<form role="form" (submit)="login(username.value, password.value)">-->
    <!--<div class="form-group">-->
      <!--<label for="username">Username</label>-->
      <!--<input type="text" #username class="form-control" id="username" placeholder="Username">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="password">Password</label>-->
      <!--<input type="password" #password class="form-control" id="password" placeholder="Password">-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-default">Submit</button>-->
  <!--</form>-->






<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-center">Witamy!</h1>
    </div>
    <button role="form" (click)="getToken()">
      TEST
    </button>
  </div>
</div>


<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h1 class="text-center">Witamy!</h1>-->
<!--</div>-->
<!--<form role="form" (submit)="login($event, username.value, password.value)">-->
<!--<div class="modal-body">-->
<!--<div class="form-group">-->
<!--<input type="text" #username class="form-control input-lg" placeholder="Username"/>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<input type="password" #password class="form-control input-lg" placeholder="Password"/>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<input type="submit" class="btn btn-block btn-lg btn-primary" value="Login"/>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
