<section class="login container">
  <form #loginForm="ngForm" (ngSubmit)="getToken()" [class.ng-submitted]="submitted" novalidate>
    <div class="form-group row">
      <label for="username" class="col-lg-1 col-form-label">Username:</label>
      <div class="col-lg-4">
        <input id="username" name="usernameField" type="text" [(ngModel)]="currentUser.username"
               class="form-control form-control-danger" required maxlength="20">
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-lg-1 col-form-label">Password:</label>
      <div class="col-lg-4">
        <input id="password" name="passwordField" type="password" [(ngModel)]="currentUser.password"
               class="form-control form-control-danger" required maxlength="20">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>

  </form>
</section>


<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h1 class="text-center">Witamy!</h1>-->
<!--</div>-->
<!--<button role="form" (click)="getToken()">-->
<!--TEST-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
