<section class="container-fluid">
  <section>
    <table class="table table-striped">
      <thead>
      <tr>
      	<th>Id</th>
        <th>Name</th>
        <th>Surname</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of currentPatients">
        <td>{{patient.id}}</td>
        <td>{{patient.name}}</td>
        <td>{{patient.surname}}</td>
        <td style="width:50px"><button (click)="deletePatient(patient)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </section>
</section>
